.body{
    margin: 0px;
}

.background{
    width: 100%;
    height: 100vh;
    background-image: url("../imges/background.jpg");
    background-size: cover;
    background-repeat: repeat-x;
}

.girl{
    height: 284px;
    margin-top: 329px;
    position: absolute;
}